header {
    padding: 15px;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

#info {
    font-size: 12px;
    color: #414040;
}

#pfp {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

#name {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    font-size: 25px;
}

.cards_row {
    display: flex;
    gap: 16px;
    padding: 20px 16px;
    align-items: flex-start;
}

#me_box, #skills_box {
    flex: 1;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 16px 20px;
}

body {
    background-color: #f0f0f0;
}

#bio {
    font-size: 14px;
    line-height: 1.5;
    margin: 20px;
}

@media (min-width: 540px) {
    .cards-row {
        flex-direction: row;
        align-items: flex-start;
    }
    .me_card, skills_card {
        flex: 1;
    }
}